MONGO_URI=mongodb+srv://<username>:<password>@recipefit.swssd.mongodb.net/?retryWrites=true&w=majority&appName=RecipeFit
JWT_SECRET=your_jwt_secret_here
EDAMAM_APP_ID=your_edamam_app_id
EDAMAM_APP_KEY=your_edamam_app_key